*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Lato",sans-serif;
    background-color: #f1f1f1;
}
nav{
    margin: 5px;
    padding: 5px;
    background-color: #f1f1f1;
    width: 100%;
    overflow: auto;
}
.sidebar {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    background-color:white;
    position: fixed;
    height: 80%;
    overflow: auto;
}
.csize{
    color:#00a2ff;
    font-size: 11px; 
}
h3{
   margin: 2px;
   padding: 2px; 
   text-align:left;
}
.heading{
    /* padding: -2px; */
    text-align: center;
    border-inline-color: #f1f1f1;
    font-size: 16px;
    color: gray;
    text-decoration: underline;
}
a{ 
    margin: 5px;
    padding: 2px; 
    border-radius: 5px;
}
.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}
.button:hover{
    background-color:gray;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}
.partition{
    margin-left:0%;
}
#logo {
    max-width: 1200Px;
    margin: auto;
    overflow: auto;
    background-color: #f1f1f1;
}
.imgcolor {
    margin: 5px;
    padding: 5px; 
    background-color:#f1f1f1;
}
.boxcolor {
    margin: 5px;
    padding: 5px;
    background-color:white;
    float: left;
    width: 250px; 
}
footer{
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    background-color: #f1f1f1;
    color:black;
    font-family: Arial;
    letter-spacing: 1px;
}

@media (min-width: 1024px) and (max-width:1440px) {
    .sidebar{
        margin: auto;
        position:fixed;
        /* width:80%; */
     }
     .partition{
        margin-left:auto;
    }
    #logo {
        max-width: 1200Px;
        margin: auto;
        overflow: auto;
        background-color: #f1f1f1;
        float:none;
    }    
    .boxcolor{
        margin: auto;
        overflow: auto;
        width: 200px;    
    }
}  
@media (min-width:700px) and (max-width:1024px) {
    .sidebar{
        margin: auto;
        position:fixed;
        /* width:80%; */
     }
     .partition{
        margin-left:auto;
    }
    #logo {
        /* max-width: 1200Px; */
        margin: auto;
        overflow: auto;
        background-color: #f1f1f1;
        float:none;
    }  
}  
 @media (max-width:700px) {
     .sidebar{
        margin: auto;
        position:unset;
        /* width:75%; */
     }
     .partition{
        margin-left:unset;
        float:left;
    }
    #logo {
        max-width: 1200Px;
        margin: auto;
        overflow: auto;
        background-color: #f1f1f1;
        float:none;
    }    
    .boxcolor{
        width: 80%;   
    }
}    
