body{
    margin:1px;
    padding: 1px;
    font-family: "Lato",sans-serif;
    background-color: #f1f1f1;
}
.sidebar {
    margin: 1px;
    padding: 1px;
    border-radius: 5px;
    width: 200px;
    background-color:white;
    position: fixed;
    height: 80%;
    overflow: auto;
}
h3{
   margin: 2px;
   padding: 5px; 
   text-align:left;
}
.heading{
    padding: -2px;
    text-align: center;
    border-inline-color: #f1f1f1;
    font-size: 16px;
    color: gray;
    text-decoration: underline;
}
a{ 
    margin: 5px;
    padding: 2px; 
    border-radius: 5px;
}
.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}
.button:hover{
    background-color:gray;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}
#logo {
    margin: 1px;
    padding: 1px;
    display: flex; 
    /* box-sizing: border-box; */
}
.imgcolor {
    margin: 5px;
    padding: 5px; 
    background-color:#f1f1f1;
}
.boxcolor {
    margin: 5px;
    padding: 5px;
    background-color:white;
    width:15%;
    height:15%;
}

 /* @media (min-width: 1024px) and (max-width:1040px) {
     /* For mobile phones: */ 
    /* #logo{
        display:block;
        /* box-sizing: border-box; */
    /* }  
 }  
 @media (min-width: 0px) and (max-width:700px) {
    
}   */ 
